<form class="srcbar" action="/searchPage" style="">
    <div class="wrap1">
        <input class="srcloc" name="perioxi" type="text" placeholder="Eisagete Perioxi">
    </div>

    <div>
      <select name="katidoria" id="katidoria">
        <option value=1 selected hidden>Select</option>
        <option value="Αγορά">Αγορά</option>
        <option value="Ενοικείαση">Ενοικείαση</option>
      </select>
    </div>
    
    <div class="wrap3">
      <input class="srcloc" name="min_price" type="text" placeholder="Ελαχιστή Τιμή">
    </div>

    <div class="wrap3">
      <input class="srcloc" name="max_price" type="text" placeholder="Μέγιστη Τιμή">
    </div>
    

    <div class="wrap4">
      <input class="srcloc" name="min_emvadon" type="text" placeholder="Ελ. Εμβαδόν">
    </div>

    <div class="wrap4">
      <input class="srcloc" name="max_emvadon" type="text" placeholder="Μεγ. Εμβαδόν">
    </div>
    
    <button class="srcsrc" type="submit">Αναζήτηση</button>
</form>


<div id="row3_search_page">

    <div id="search_div">
        <div>

            <div class="wrap" id="sort_wrap">
                <button class="sort_btn" id="sort_btn">Ταξινομηση</button>
                <div class="drop">
                    <a href="#">a</a>
                    <a href="#">b</a>
                    <a href="#">c</a>
                    <a href="#">d</a>
                </div>
            </div>

        </div>
        <div class="property-section" id="search_section">
            {{#each properties}}
                <div class="property-card">
                  <div class="place_grid_cont">
                      <div class="column">
                          <h3>{{location}} - {{type}}</h3>
                          <p><strong>Τιμή:</strong> {{price}}€</p>
                          <p><strong>Επιφάνεια:</strong> {{surface}} τ.μ</p>
                          <p><strong>Μπάνια:</strong> {{bathroom}}, <strong>Κουζίνα:</strong> {{kitchen}}, <strong>Σαλόνι:</strong> {{living_room}}</p>
                          <p><strong>Όροφοι:</strong> {{levels}}, <strong>Επίπεδο:</strong> {{level}}</p>
                          <p><strong>Έτος κατασκευής:</strong> {{constr_year}}</p>
                          <p><strong>Περιγραφή:</strong> {{desc}}</p>
                      </div>
                     <div  class="column">
                       {{#if ../userId}}
                          <form action="/like" method="post">
                            <input type="hidden" name="propertyId" value={{prop_id}}>
                            <button type="submit">Like</button>
                          </form>
                        {{/if}}
                      </div>
                  </div>
                </div>
            {{/each}}
        </div>

        <div>
          <div class="pagination">
            <button onclick="prevPage('search_section')">« Προηγούμενη</button>
            <span id="pageNum-search_section">1</span>
            <button onclick="nextPage('search_section')">Επόμενη »</button>
          </div>
        </div>
        

    </div>

    <script id="properties-data" type="application/json">
      {{{prop}}}  
    </script>
    <div id="mapid" style="height: 100%; width=100%"></div>

</div>

