<div class="container_submit">

    <div class="sidebar" id="sidebar-container">
        <h3>Ενότητες</h3>
        <ul>
            <li onclick="showSection('personal_info', this)">Προσωπικά Στοιχεία</li>
            <li class="active" onclick="showSection('my_prop', this)">Οι Αγγελίες μου</li>
            <li onclick="showSection('favorities', this)">Αγαπημένα</li>
            <li onclick="showSection('change_info', this)">Αλλαγή Στοιχείων</li>
        </ul>
    </div>

    <div class="form-section">
        


        <div id="personal_info" class="form-part">
            <h2 class="header">Προσωπικά Στοιχεία</h2>
            <div class="form-group">
                <div class="user-card">
                    <div class="user-avatar">
                        <img src="img/profile_image.webp" alt="User Avatar">
                    </div>
                    <div class="user-info">
                        <h3>Καλωσήρθες, {{user.name_sur}}</h3>
                        <p>Email: {{user.email}}</p>
                        <p>Τηλέφωνο:  {{user.tel}}</p>
                        <p>Ώρες Επικοινωνίας: {{user.comm_hours}}</p>
                        <form action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="logout-btn">Αποσύνδεση</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div id="my_prop" class="form-part active">
            <h2 class="header">Οι Αγγελίες μου</h2>
            <div class="form-group">
                <div class="property-section ">
                    {{#each prop}}
                        <div class="property-card">
                        <div class="place_grid_cont">
                            <div class="column">
                                <h3>{{location}} - {{type}}</h3>
                                <p><strong>Τιμή:</strong> {{price}}€</p>
                                <p><strong>Επιφάνεια:</strong> {{surface}} τ.μ</p>
                                <p><strong>Μπάνια:</strong> {{bathroom}}, <strong>Κουζίνα:</strong> {{kitchen}}, <strong>Σαλόνι:</strong> {{living_room}}</p>
                                <p><strong>Όροφοι:</strong> {{levels}}, <strong>Επίπεδο:</strong> {{level}}</p>
                                <p><strong>Διευθυνση:</strong> {{location}} , {{address}}</p>
                                <p><strong>Έτος κατασκευής:</strong> {{constr_year}}</p>
                                <p><strong>Περιγραφή:</strong> {{desc}}</p>
                            </div>
                            <div  class="column">
                                <button class="delete-btn"
                                                data-prop-id="{{prop_id}}"
                                                data-liked="{{liked}}">
                                    <img src="img/delete.png" alt="delete">
                                </button>
                            </div>

                        </div>
                        </div>
                    {{/each}}
                </div>
                <div>
                    <div class="pagination" id="pagination-my-prop">
                        <button onclick="prevPage('my_prop')">« Προηγούμενη</button>
                        <span id="pageNum-my_prop">1</span>
                        <button onclick="nextPage('my_prop')">Επόμενη »</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div id="favorities" class="form-part">
            <h2 class="header">Αγαπημένα</h2>
            <div class="form-group">
                <div class="property-section ">
                    {{#each likedAll}}
                        <div class="property-card">
                            <div class="place_grid_cont">
                                <div class="column">
                                    <h3>{{location}} - {{type}}</h3>
                                    <p><strong>Τιμή:</strong> {{price}}€</p>
                                    <p><strong>Επιφάνεια:</strong> {{surface}} τ.μ</p>
                                    <p><strong>Μπάνια:</strong> {{bathroom}}, <strong>Κουζίνα:</strong> {{kitchen}}, <strong>Σαλόνι:</strong> {{living_room}}</p>
                                    <p><strong>Όροφοι:</strong> {{levels}}, <strong>Επίπεδο:</strong> {{level}}</p>
                                    <p><strong>Διευθυνση:</strong> {{location}} , {{address}}</p>
                                    <p><strong>Έτος κατασκευής:</strong> {{constr_year}}</p>
                                    <p><strong>Περιγραφή:</strong> {{desc}}</p>
                                </div>
                                <div  class="column">
                                    {{#if ../userId}}
                                        <button class="like-toggle-btn"
                                                data-prop-id="{{prop_id}}"
                                                data-liked="{{liked}}">
                                        {{#if liked}}
                                            {{!-- Unlike --}}
                                            <img src="/img/heart_full.png" alt="like">
                                        {{else}}
                                            {{!-- Like --}}
                                            <img src="/img/heart_empty.png" alt="unlike">
                                        {{/if}}
                                        </button>
                                    {{/if}}
                                    <div class="user-info">
                                        {{#if is_agora}}
                                        <h3>Πωλητής: {{user.name_sur}}</h3>
                                        {{else}}
                                        <h3>Ενοικιαστής: {{user.name_sur}}</h3>
                                        {{/if}}
                                        <p><strong>Email:</strong> {{user.email}}</p>
                                        <p><strong>Τηλέφωνο:</strong>  {{user.tel}}</p>
                                        <p><strong>Ώρες Επικοινωνίας:</strong> {{user.comm_hours}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div>
                    <div class="pagination" id="pagination-favorities">
                        <button onclick="prevPage('favorities')">« Προηγούμενη</button>
                        <span id="pageNum-favorities">1</span>
                        <button onclick="nextPage('favorities')">Επόμενη »</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div id="change_info" class="form-part">
        <h2 class="header">Αλλαγή Στοιχείων</h2>
        <form action="/editProfile" method="POST" class="form-group">
            <div class="form-field">
            <label for="username">Όνομα Χρήστη:</label>
            <input type="text" id="username" name="username" value="{{user.username}}" placeholder="π.χ. nikos123">
            </div>

            <div class="form-field">
            <label for="password">Νέος Κωδικός:</label>
            <input type="password" id="password" name="password" placeholder="Εισάγετε νέο κωδικό">
            </div>

            <div class="form-field">
            <label for="name_sur">Ονοματεπώνυμο:</label>
            <input type="text" id="name_sur" name="name_sur" value="{{user.name_sur}}" placeholder="π.χ. Νίκος Παπαδόπουλος">
            </div>

            <div class="form-field">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" placeholder="π.χ. example@mail.com">
            </div>

            <div class="form-field">
            <label for="tel">Τηλέφωνο:</label>
            <input type="tel" id="tel" name="tel" value="{{user.tel}}" placeholder="π.χ. 6901234567">
            </div>

            <div class="form-field">
            <label for="comm_hours">Ώρες Επικοινωνίας:</label>
            <input type="text" id="comm_hours" name="comm_hours" value="{{user.comm_hours}}" placeholder="π.χ. 09:00 - 17:00">
            </div>

            <div class="form-field">
            <button type="submit" class="submit-btn" id="change_prof_btn">Αποθήκευση Αλλαγών</button>
            </div>
        </form>
        </div>
    </div>

</div>

